@font-face {
  font-weight: 400;
  font-style:  normal;
  font-family: circular;

  src: url('chrome-extension://liecbddmkiiihnedobmlmillhodjkdmb/fonts/CircularXXWeb-Book.woff2') format('woff2');
}

@font-face {
  font-weight: 700;
  font-style:  normal;
  font-family: circular;

  src: url('chrome-extension://liecbddmkiiihnedobmlmillhodjkdmb/fonts/CircularXXWeb-Bold.woff2') format('woff2');
}
body{
    background-color: white;
}
.content-wrapper {
    display: block;
    margin: auto;
    max-height: 1700px;
    max-width: 1700px;
}
header {
    display: block;
    unicode-bidi: isolate;
}
h1 {
    font-family: 'Grandstander', cursive;
    text-align: center;
    font-size: 70px;
    margin-top: 45px;
    margin-bottom: 20px;
}
main {
    display: block;
    unicode-bidi: isolate;
}
form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}
#pokemon-type-filter {
    text-align: center;
}
.type-filter {
    margin: 10px;
}
option {
    font-weight: normal;
    display: block;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    white-space: nowrap;
}
input[type="submit" i] {
    appearance: auto;
    user-select: none;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    white-space: pre;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}
.form-spacers {
    height: 10px;
}
section {
    display: block;
    unicode-bidi: isolate;
}
#pokedex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.flip-card {
    margin: 20px;
    width: 200px;
    height: 275px;
    text-align: center;
    justify-content: center;
    perspective: 1000px;
    opacity: 0.95;
}
.flip-card-inner {
    box-shadow: 3px 3px 5px 6px #ccc;
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 1s;
    transform-style: preserve-3d;
}
.front-pokemon-card {
    z-index: 2;
    transform: rotateY(0);
}
.front-pokemon-card{
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    backface-visibility: hidden;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.front-poke-id, .back-poke-id {
    position: relative;
    top: -100px;
    width: 100%;
    background-color: whitesmoke;
    color: #555555;
    justify-content: left;
}